.home {
  padding: 10rem 1.3rem;
  min-height: 100%;
  width: 100%;
  text-align: center;
  .search {
    margin-top: 2rem;
    width: 75%;
    min-height: 1.2rem; //should define global font size and set min height
  }
  .go {
    font-size: 0.8rem; //placeholder
  }
}
