.instructions {
  font-size: 1rem;
  padding-left: 0.8rem;
  margin-top: 0.5rem;
}
.step {
  font-size: 0.8rem;
}
.recipeDescription {
  font-size: 0.8rem;
}
.itemTitle {
  margin-top: 0;
}
.itemDetails {
  padding-left: 1rem;
}
.itemSteps {
  margin: 0;
}
